<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Rowan OMM Login</title>
  <link href="css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="tooltip">
        <div class="info">&#9432;</div>
        <div class="tooltiptext">Please fill in your user id and password in the fields below. Do not use your email.</div>
    </div>
    <div class="login-form">
      <h2>Rowan NetID:</h2>
      <form action="" class="form-login">
        <input type="text" name="username" placeholder="Rowan ID" id="username"required>
        <br>
        <h2>Password:</h2>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <br>
        <input type="submit" value="Login" id="submit-login">
      </form>
    </div>
  </div>
  <script src="js/loginbg.js"></script>
</body>

</html>
